@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark-color:  oklch(16.353% 0.03731 266.929);
    --dark-color-plus:  oklch(10.562% 0.02343 254.371);
    --white-color: #FFFAFE;
    --border-color: oklch(55.2% 0.016 285.938);
    --url-hover: oklch(70.5% 0.015 286.067);
    --card-color: oklch(20.064% 0.0305 274.689);
    --color-title-active: oklch(62.3% 0.214 259.815);
    --color-shadow-active: oklch(87.2% 0.01 258.338);
    --color-border: oklch(74.799% 0.12064 251.08);
    --color-border-alert: oklch(45.013% 0.05809 269.06);
    --side-color: #ede7eb;
}

::-webkit-scrollbar{
    width: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.side-bar{
    width: 250px;
    position: fixed;
    height: 100dvh;
    background-color: var(--side-color);
    z-index: 100;
    left: -250px;
    transition: all .50s ease;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}.side-bar ul{
    list-style: none;
    margin-top: 70px;
    padding: 0 20px;
}.side-bar ul li a{
    font-size: 16px;
    color: var(--dark-color-plus);
    text-decoration: none;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}.side-bar ul li a::before{
    content: '';
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--dark-color-plus);
    z-index: -99;
    position: absolute;
    transition: all .50s ease;
}.side-bar ul li a:hover::before{
    width: 100%;
}.side-bar ul li a:hover{
    cursor: pointer;
    color: var(--white-color);
}
.exit{
    font-size: 18px;
    top: 20px;
    right: 120px;
    position: absolute;
    transition: all .50s ease;
}
.exit:hover{
    transform: rotate(-360deg);
    cursor: pointer;
}
.side-bar.active{
        left: 0;
}
body{
    height: 100dvh;
    font-family: "Noto Sans", sans-serif;
}
main{
    display: flex;
    height: 100dvh;
    transition: all .50s ease;
}
main.active{
    filter: blur(1px);
    opacity: 0.7;
}
.sec-1{
    position: relative;
    width: 50vw;
    border-right: 14px solid var(--dark-color-plus);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
#name{
    padding: 15px;
    border: 2px solid var(--dark-color);
    border-radius: 4px;
    width: 400px;
    margin-bottom: 5px;
    background-color: var(--white-color);
    font-size: 14px;
}
button{
    width: 400px;
    padding: 15px;
    position: relative;
    z-index: 1;
    color: var(--dark-color);
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    border: 2px solid var(--dark-color);
    border-radius: 4px;
    background-color: var(--white-color);
    font-size: 14px;
}
button::before{
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    background-color: var(--dark-color);
    position: absolute;
    z-index: -1;
    transition: all .50s ease;
}
button:hover::before{
    width: 100%;
}
button:hover{
    color: var(--white-color);
    cursor: pointer;
    border: 2px solid var(--dark-color);
}
#send.active{
    cursor: not-allowed;
}
.card.active {
    background-color: oklch(97% 0.014 254.604);
    border: 1px solid oklch(80.9% 0.105 251.813);
}
.content-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-logo h4{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}
.fa-github{
    font-size: 120px;
}
.sec-2{
    width: 50vw;
    position: relative;
    background-color: var(--dark-color-plus);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
    border-left: 12px solid var(--white-color);
    height: 100dvh;
    z-index: 1;
}
.hidden{
    height:calc(100% - 30px);
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}
.card{
    border: 2px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    height: 155px;
    margin-bottom: 30px;
    background-color: var(--card-color);
}
.card-manipulation:nth-child(2){
    flex-direction: column;
}
.card.active{
    border: 2px solid var(--color-border);
}
#title-rep{
    font-size: 14px;
}
#title-rep.active{
    color: var(--color-title-active);
}
#title-lang.active{
    color: var(--color-title-active);
}
#date.active{
    color: var(--color-title-active);
}
#url.active{
    border: 1px solid var(--color-title-active);
    color: var(--color-title-active);
}
#status{
    font-size: 14px;
}
.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 999px;
}
.card-manipulation{
    display: flex;
    justify-content: space-between;
}
.content-language{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.mode{
    top: 20px;
    right: 5%;
    position: absolute;
    width: 50px;
}
.note{
    top: 20px;
    left: 5%;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-color);
}
.note:hover{
    cursor: pointer;
}
.alert{
    right: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    position: fixed;
    background-color: var(--white-color);
    z-index: 9999;
    width: 40%;
    padding: 20px 30px 50px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--color-border-alert);
    transition: all .50s ease;
}
.alert.active{
    transform: translate(-50%,-1%);
    transition: all .50s ease
}
.p-alert{
    font-size: 12px;
    color: var(--dark-color);
    font-weight: 500;
    margin-bottom: 10px;
}
#btn-alert{
    position: absolute;
    padding: 5px 10px;
    font-size: 10px;
    width: 100px;
    right: 30px;
    bottom: 15px;
}
#date{
    font-size: 15px;
}
#url{
    font-size: 10px;
    border: 1px solid var(--border-color);
    padding: 5px 8px;
    border-radius: 6px;
    color: #ccc;
    text-decoration: none;
}
#url:hover{
    border: 1px solid var(--url-hover);
    color: var(--url-hover);
}
.first{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.loading{
    inset: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 100vh;
    pointer-events: none;
}
.circle-loading{
    width: 8px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 9999px;
    animation: load 1s infinite linear;
}
.circle-loading2{
    width: 8px;
    height: 20px;
    background-color: var(--dark-color-plus);
    border-radius: 9999px;
    animation: load 1s infinite linear;
}
.two{animation-delay: 0.8s;}
.tree{animation-delay: 0.6s;}
.four{animation-delay: 0.4s;}
@keyframes load {
    0%{
        height: 20px;
    }50%{
        height: 50px;
    }100%{
        height: 20px;
        
    }
}

